@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

.hid{
	display:none;
}
.log {
	width:60px;
	height:60px;
	border-radius: 50%;
	object-fit: cover;
	margin-left:20px;
}
.connector {
	margin-left:48px;
  
  top: 50%; 
  left: 0; 
  width: 2px; 
  height: 100%; 
  background-color: #e5e5e5; 
}
.line {
	margin-left:15px;
	margin-top:10px;
	height :screen;
	width:1px;
	background-color:black;
}
.se {
	width:40px;
	height:40px;
	border-radius: 50%;
	margin-left:29px;
}
.input {
	border: 1px white solid;

	height:100px;
}
.form{
	 
  overflow: auto;
	width:75%;
	
}

.photo{
	
	width:25%;
}

.link {
	width: 100px;
}


.rightCol {
	position:sticky;
	top:0;
	width: 350px;
	height:100%;
}
.contain {
	
	height:100%;
}

.img{
	
	width: 70px;
}


.leftCol a:hover img {
	opacity: .5;
	background:white;
}
.b {
	
	margin-top : 30px;
	padding:10px;
	border-radius : 50px;
	display: inline-block;
	transition: all 0.3s ease;

}

.b:hover {
	
	background-color : #e9ecef;
}

.text {
	height:100px;
}
.user {
	border-radius: 50%;
	object-fit: cover;
	height:70px;
	width: 70px;
}

.o {
	border-radius: 5px;
	height:90px;
	
}
.o:hover {
	background: #edede9;
}

.rr {
	z-index: 100;
	padding:20px;
	backdrop-filter: blur(10px);
	background-color:#e9ecef;
	opacity:0.7;
	position: sticky;
	top:0;
	width:100%;
	height:80px;
	
}

.setting {
	color:black;
	text-decoration:none;
	font-size: 20px;
}

.con {
	overflow:hidden;
	border-radius: 40px;
	width : 398px;
	
}

textarea:focus{
    outline: none;
}
textarea{
	width:80%;
}
input:focus{
	outline:none;
}
.name {
	width:500px;
}
.qw {
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	margin-left:20px;
	
}
.d {
	margin-left:20px;
}
.ew {
	min-width:50%;
	max-width: 100%;
	margin-left:20px;
	width:88%;
	border-radius:10px;
}
.container {
	
	height:100%;
}
.leftCol {
	 
  overflow: auto;
	position:sticky;
	top:0;
	width:300px;
	height:100%;
	 
}
.post{
	overflow:auto;
	
	border:1px #edede9 solid;
}
.thread {
	border:1px #edede9 solid;
}
.thread a {
	display:inline-block;
	width:100%
}

.thread a:hover{
	
	background: #edede9;
}


.bi-patch-check-fill {
	margin-bottom: 3px;
	color:#4895ef;
	
	border:none;
}

.lin {
	text-decoration: none;
}

.date {
	margin-left: 20px;
}

.lay{
	width:129px;
	height:129px;
	object-fit: cover;
}

.ret {
	width:60px;
	height:60px;
	background-color:white;
}

.dd {
	background-color:white;
	border:none;
}

.wew{
	margin-left:15px;
	border:none;
	background-color:white;
}
.all {
	width:400px;
	border-radius: 10px;
	background-color:#F5F5F5;
}
.might {
	margin-top: 10px;
	margin-left: 20px;
}

.like-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.like-button .icon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.3s ease-in-out;
}

.like-button.liked .icon {
  stroke: red; /* Change the color to your desired filled color */
}


.button-71 {
	margin-left: 150px;
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 15px;
  font-weight: 600;
  outline: 0;
  padding: 10px 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
   opacity: 0.5; /* Set initial opacity for disabled state */
  pointer-events: none; 
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}
.button-71:enabled {
  opacity: 1; /* Set opacity for enabled state */
  pointer-events: auto; /* Enable pointer events for enabled state */
}
@media (min-width: 768px) {
  .button-71 {
    padding: 9px 20px;
  }
}



.button-70 {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat,sans-serif;
  font-size: .9em;
  margin: 5px;
  padding:5px 15px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.de1 {
	margin-left : 30px;
}
.dwwe {
	margin-left:20px;
}
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.menu {
      position: relative;
      display: flex;
      align-items: center;
    }
  
    .menu-button {
      background: none;
      border: none;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  
    .menu-button:hover {
      background-color: #f0f0f0;
      border-radius: 4px;
    }
  
    .edit-box {
      display: none;
      position: absolute;
      bottom: -100%;
      left: 0;
      background-color: #f0f0f0;
 
      border-radius: 4px;
    }
  	.edit-button:hover{
  	background:#8ecae6;
  	
  	}
    .edit-button {
    height:30px;
    width:80px;
      background: none;
      border: none;
      border-radius:5px;
      font-size: 14px;
      cursor: pointer;
    }
    .log-nav {
	margin-top : 30px;
	margin-left : 20px;
	border-radius : 5%;
	
	padding: 30px;
	height: 300px;
	width: 350px;
}
.c {
	border: 0.5px #6c757d solid;
	margin-top : 30px;
	padding:10px;
	border-radius : 50px;

}
.c:hover {

	background-color : #edede9;
}
.create {
	font-size: 20px;
	color: black;
	text-decoration : none;
}
.font {
	font-weight: bold;
}

.dewe {
	text-decoration : none;
}

.ere {
	margin-left: 200px;
}

.tabs {
	position:sticky;
	top:0;
	z-index:1;
	width:100%;
  display: flex;
}

.tablinks {
	width:50%;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  flex: 1;
}

.tablinks.active {
  background-color: #ccc;
}

/* Hide all tab content by default */
.tabcontent {
	width:100%;
  display: none;
}

strong {
  font-weight: bold;

}


.htj {
	width:100%;
}
.search {
	width:398px;
}
.search-form {
	width:100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom : 50px;
}

.search-input {
  flex: 1;
  padding: 10px;
 	border: 1px #adb5bd solid;
  border-radius: 20px 0 0 20px;
}

.search-button {
  padding: 10px;
  background-color: #ffffff;
border: 1px #adb5bd solid;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.search-button i {
  color: #555555;
}

/* Optional: Font Awesome library for the search icon */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');



@media (max-width: 768px) {
			.container {
				flex-direction: column;
				align-items: center;
			}

			.leftCol,
			.contain,
			.rightCol {
				flex-basis: auto;
				max-width: none;
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
.sticky {
	position: sticky;
	top: 0;
	z-index: 1;
}

.ew4 {
	margin-left:250px;
}